<!-- -*- mode: XML -*- -->
<!-- run velodyne_pointcloud/CloudNodelet in a nodelet manager for a VLP-16 -->

<launch>
  <!--Velodyne driver run-->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">
  </include>
  <include file="$(find imu_3dm_gx4)/launch/imu.launch">
  </include>

  <node pkg="nav_position" type="nav_position" name="nav_position" args="manager" output="screen"/>

</launch>
